@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0">
                <div class="card-body text-center">
                    <h2 class="mb-3">About CarRentalWebApp</h2>
                    <p class="lead">We provide the best car rental experience with a wide range of vehicles and top-notch customer service. Our mission is to make your journey comfortable and memorable.</p>
                </div>
            </div>
        </div>
    </div>
</div>
